@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');



:root{


/* PRIMARY. */

--pale-blue:hsl(225, 100%, 94%);
--bright-blue:hsl(245, 75%, 52%);
 
/* NEUTRAL. */
--very-pale-blue: hsl(225, 100%, 98%);
--desaturated-blue: hsl(224, 23%, 55%);
--dark-blue: hsl(223, 47%, 23%);
--desaturated-shadow: hsla(224, 23%, 55%, 0.25);
--desaturated-bg: hsla(224, 23%, 55%, 0.05);
--opacity-blue:hsla(261, 60%, 60%, 0.925);

/* Color Scheme. */
--background-color: var(--pale-blue);
--card-color: var(--very-pale-blue);
--payment-color: var(--bright-blue);
--change-color: var(--desaturated-blue);
--title-color: var(--dark-blue);
--plan-bg-color: var(--desaturated-bg);


/* Typography */
--base-font-family: 'Red Hat Display', sans-serif;
--fw-normal: 500;
--fw-semi: 700;
--fw-bold: 900;
--fs-title: 1.5rem;
--fs-description: 1rem;
--fs-sub: 0.9rem;

/* Sizes */


--size-smallest: 0.25rem;
--size-smaller: 0.5rem;
--size-small: 0.75rem;
--size-normal: 1rem;
--size-large: 1.25rem;
--size-larger: 1.5rem;
--size-largest: 1.75rem;
--size-xl: 2rem;

/* Root Styles. */
font-size: 16px;
font-family: var(--base-font-family);
font-weight: var(--fw-normal);
}


